@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    color: #dedede;
}

body{
    font-family:'Roboto',sans-serif;
    text-decoration: none;
    -webkit-tap-highlight-color: none;
}

.left-content{
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding-left: 40px;
    padding-bottom: 40px;
}

.headertext{
    color:#F9FAF8;
    font-size:48px;
    font-weight:900;
    margin-bottom:15px;
}

.smalltext{
    color:#d8d8da;
    font-size:18px;
}

.headbutton{
    background:#3882F6;
    color:white;
    border:none;
    padding:10px 30px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    border: 1.5px solid #dedede;
}

.placeholdercontainer{
    display:flex;
    justify-content: flex-end;
    align-items:center;
    flex-direction: row;
    width: 400px;
    padding-bottom: 40px
}

.placeholderimage{
    width: 450px;
    height: 220px;
    background: #9ca3af;
    display: flex;
    align-items: center;
    justify-content: center;
}

.placeholdertext{
    color:white;
    font-size:18px;
}

.headerright {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    list-style-type: none;
    gap: 20px;
    text-decoration: none;
    color: #dedede !important;
    margin-left: auto;
    padding-top: 20px;
    padding-right: 30px;
}

.header {
    display: flex;
    justify-content: space-evenly;
    background-color: #1f2937;
}

.logo {
    color:#dedede;
    font-weight: 900;
    font-size: 24px;
    padding-top: 20px;
    padding-left: 30px;
}

.backgroundhero {
    background-color: #1f2937;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 80px 40px;
}

.headerlist {
    list-style-type: none;
}

a:visited {
    color: #dedede;
}

a {
    text-decoration: none;
}

.headerlogocon {
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
}

.secondarycontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.infoheadertxt {
    color: #1f2937;
    font-weight: 800;
    font-size: 36px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.thirdcontainer {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.infobox {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    border: 4px solid #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourthcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.fifthcontainer {
    display: flex;
    width: 100%;
    background: #e5e7eb;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.qtext {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    padding-top: 70px;
}

.qtextname {
    font-weight: 800;
    font-size: 24px;
    color: #1f2937;
    padding-left: 400px;
    padding-top: 20px;
    padding-bottom: 70px;
}

.qtxtnamecon {
    display: flex;
    width: 100%;
    background: #e5e7eb;
    justify-content: center;
    align-items: center;
}

.ctacontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
}

.cta {
    height: 100px;
    width: 800px;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 100px;
}

.ctatxt {
    font-size: 24px;
    font-weight: 600;
    color: #dedede;
}

#smalltxt {
    color: #d8d8da;
    font-size: 18px;
    margin-bottom: 25px;
}

.nolist {
    list-style-type: none;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}